.button{
  background-color: #039be5;
  color:#fff;
  font-size: 100%;
  text-align: center;
  margin: auto 0;
  outline: none;
  padding: 0.5em;
  border: 4px solid #fff ;
  border-radius: 7px;
  width: 100px;
}
.button {
  height: 40px;
  width: 200px;
}
