
.App {
  display: flex;
  flex-direction: column;
  font-family:  neuzeit-grotesk,Helvetica,Arial,sans-serif;
  -webkit-box-align: center;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
  margin: auto 3% ;
  padding: 4%;
}

