.Input-bar{
    width: 100%;
    height: 80px;
    font-weight: 300;
    font-size: 30px;
    color: #039be5;
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #022546 ;
    display: inline-block;

}

.Input-container{
    width: 98%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
  align-items: center;
   margin: 20px;
}